{% block extends %}
    {{ "{% extends '"~ plantillas.layout_gral ~ "' %}" }}

{% endblock extends %}

{{ "{% block id '" ~  entity ~"' %} " }}

{% block body %}

    {{ "{% block " ~ plantillas.block_content ~ " -%}" }}
    {# todo: el nombre del embed debe ser un parametro#}
    {{ "{% embed '"~ plantillas.box_crud ~"' with {'titulo': 'Lista de " ~ entity ~ " <small>(' ~ pager.totalItemCount ~ ' )</small>' } %}  " }}

    {{ "    {% block rb_contenido %} " }}
    {{ "        {% for type, flashMessages in app.session.flashbag.all() %} " }}
    {{ "            {% for flashMessage in flashMessages %} " }}
    {{ "                <div class='alert alert-{{ type }}'> " }}
    {{ '                   <button data-dismiss="alert" class="close"> ' }}
    {{ "                       ×  " }}
    {{ "                   </button> " }}
    {{ "                    {{ flashMessage }} " }}
    {{ "                </div> " }}
    {{ "            {% endfor %} " }}
    {{ "        {% endfor %}" }}

    <form method='post' action='.'>
        {{ "            {% embed '"~ plantillas.box_modal ~"' with { 'modal_id': 'filters', 'modal_titulo': 'Filtro de "~ entity ~"s'} %} " }}
        {{ "                {% block modal_contenido %} " }}
        {{ "                    {{ form_rest(filterform) }} " }}
        {{ "                {% endblock %} " }}

        {{ "                {% block modal_botones %} " }}{{ '\n' }}
        <input type='submit' class='btn btn-success' name='submit-filter' value='Aplicar'/>{{ '\n' }}
        <input type='submit' class='btn btn-primary' name='submit-filter' value="reset"/>{{ '\n' }}
        {{ "                {% endblock modal_botones %} " }}
        {{ "            {% endembed %} " }}
    </form>


    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content bordered-palegreen">
        <tr>{{ '\n' }}
            {%- for field, metadata in fields %}
                <th>{{ "{{ knp_pagination_sortable(pager, '"~ field ~ "' ,'q." ~ field ~ "') }}" }}</th>{{ '\n' }}

            {%- endfor %}
            <th>{{ "{{'Acciones'|trans }}" }}</th>{{ '\n' }}
        </tr>
        </thead>
        <tbody>
        {{ '{% for entity in pager %}' }}
        <tr>{{ '\n' }}
            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}
                    <td>
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a>
                    </td>{{ '\n' }}
                {%- elseif metadata.type in ['date', 'datetime'] %}
                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>{{ '\n' }}
                {%- elseif metadata.type in ['boolean'] %}
                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '? \'<span class="label label-primary">Si</span>\' : \'<span class=\"label label-default\">No</span>\'  }}' }}</td>
                {%- else %}
                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>{{ '\n' }}
                {%- endif %}

                {%- if loop.last %}
                    <td>
                    {%- include "crud/views/others/actions.html.twig" %}
                    </td>{{ '\n' }}
                {%- endif %}
            {%- endfor %}
        </tr>
        {{ '{% else %}' }}
        <tr>
            <td class="last-row" colspan="100" style="text-align: center;">{{ "{{'sin resultados'|trans }}" }}</td>
        </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    {{ "     {% endblock rb_contenido %} " }}


    {{ "     {% block rb_widget_header_buttons %} " }}

    {% set etiqueta, icono, clase = "", "","" %}
    <ul class="rb-toolbar pull-right">

        {% if index_cfg.botones_arriba.enabled %}
            {% for key, accion in index_cfg.botones_arriba %}
                {% if key != 'enabled' %}
                    {% if accion.enabled %}
                        <li>
                            {% set etiqueta, icono, clase = accion.label, accion.icon,accion.class %}
                            {% include "crud/views/others/index_"~key~".html.twig" %}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}


        <li>
            {{ "       {{ parent() }} " }}
        </li>

    </ul>
    {{ "     {% endblock %} " }}

    {{ "     {% block rb_widget_footer_buttons %} " }}
    <ul class="rb-toolbar pull-right">
        {% if index_cfg.botones_abajo.enabled %}
            {% for key, accion in index_cfg.botones_abajo %}
                {% if key != 'enabled' %}
                    {% if accion.enabled %}
                        <li>
                            {% set etiqueta = accion.label %}
                            {% set etiqueta, icono, clase = accion.label, accion.icon,accion.class %}
                            {% include "crud/views/others/index_"~key~".html.twig" %}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {#
            esto es un espaciador para aliciar con la barra de botones superior,
            ya que all puede estar el maximizar o minimizar
        #}
        <li class="tool-space-rigth">

        </li>
    </ul>
    {{ "     {% endblock %} " }}
    {#{% endif %}#}


    {{ " {% endembed %} " }}

    {{ "{% endblock " ~ plantillas.block_content ~ " -%}" }}
{% endblock body %}
