{% block extends %}
{{ "{% extends '"~ layout_gral ~ "' %}" }}

{% endblock extends %}

{{ "{% block id '" ~  entity ~"' %} "}}

{% block body %}

{{ "{% block " ~ block_content ~ " -%}" }}
    {# todo: el nombre del embed debe ser un parametro#}
    {{ "{% embed '"~ box_crud ~"' with {'titulo': 'Lista de " ~ entity ~ " <small>(' ~ pager.totalItemCount ~ ' )</small>' } %}  " }}

    {{ "    {% block rb_contenido %} " }}
    {{ "        {% for type, flashMessages in app.session.flashbag.all() %} " }}
    {{ "            {% for flashMessage in flashMessages %} " }}
    {{ "                <div class='alert alert-{{ type }}'> " }}
    {{ '                   <button data-dismiss="alert" class="close"> '}}
    {{ "                       ×  "}}
    {{ "                   </button> "}}
    {{ "                    {{ flashMessage }} " }}
    {{ "                </div> " }}
    {{ "            {% endfor %} " }}
    {{ "        {% endfor %}" }}

            <form method='post' action='.' >
                {{ "            {% embed '"~ box_modal ~"' with { 'modal_id': 'filters', 'modal_titulo': 'Filtro de "~ entity ~"s'} %} " }}
                {{ "                {% block modal_contenido %} " }}
                {{ "                    {{ form_rest(filterform) }} " }}
                {{ "                {% endblock %} " }}

                {{ "                {% block modal_botones %} " }}{{ '\n' }}
                <input type='submit' class='btn btn-success' name='submit-filter' value='Aplicar'/>{{ '\n' }}
                <input type='submit' class='btn btn-primary' name='submit-filter' value="reset"/>{{ '\n' }}
                {{ "                {% endblock modal_botones %} " }}
                {{ "            {% endembed %} " }}
            </form>


            <table class="table table-bordered table-striped table-condensed flip-content">
                <thead class="flip-content bordered-palegreen">
                <tr>{{ '\n' }}
                    {%- for field, metadata in fields %}
                    <th>{{ "{{ knp_pagination_sortable(pager, '"~ field ~ "' ,'q." ~ field ~ "') }}" }}</th>{{ '\n' }}

                    {%- endfor %}
                    <th>{{ "{{'Acciones'|trans }}" }}</th>{{ '\n' }}
                </tr>
                </thead>
                <tbody>
                {{ '{% for entity in pager %}' }}
                <tr>{{ '\n' }}
                    {%- for field, metadata in fields %}
                        {%- if loop.first and ('show' in actions) %}
                            <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>{{ '\n' }}
                        {%- elseif metadata.type in ['date', 'datetime'] %}
                            <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>{{ '\n' }}
                        {%- elseif metadata.type in ['boolean'] %}
                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '? \'<span class="label label-primary">Si</span>\' : \'<span class=\"label label-default\">No</span>\'  }}' }}</td>
                        {%- else %}
                            <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>{{ '\n' }}
                        {%- endif %}

                        {%- if loop.last %}
                            <td>
                            {%- include "crud/views/others/actions.html.twig" %}
                            </td>{{ '\n' }}
                        {%- endif %}
                    {%- endfor %}
                </tr>
                {{ '{% else %}' }}
                <tr >
                    <td class="last-row" colspan="100" style="text-align: center;">{{ "{{'sin resultados'|trans }}" }}</td>
                </tr>
                {{ '{% endfor %}' }}
                </tbody>
            </table>

    {{"     {% endblock rb_contenido %} "}}

    {% if toolbar_pos in {0:'top' , 1:'both'} %}
    {{"     {% block rb_widget_header_buttons %} "}}
            {% if 'new' in actions %}
                <a class="{{ btn_new['class'] }}" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">{{ '\n' }}
                &nbsp;
                <i class="{{ btn_new['icon'] }}"></i>
                {{ "{{'"~  btn_new['label']  ~" " ~ entity ~ "'|trans }}&nbsp;" }}{{ '\n' }}&nbsp;
                </a>{{ '\n' }}
                &nbsp;&nbsp;
            {% endif %}
            <a href="#" data-toggle='modal' data-target='#filters'>
            <i class="fa fa-filter"></i> Filtro
        </a>
            {{ '        {{ knp_pagination_render(pager) }}' }}{{ '\n' }}
                <a href=""></a>
        {{"         {{ parent() }} "}}
        {{"     {% endblock %} "}}
    {% endif %}

    {% if toolbar_pos in {0:'footer' , 1:'both'} %}
    {{"     {% block rb_widget_footer_buttons %} "}}
        {% if 'new' in actions %}

            <a class="{{ btn_new['class'] }}" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">{{ '\n' }}
            &nbsp;
            <i class="{{ btn_new['icon'] }}"></i>
            {{ "{{'"~  btn_new['label']  ~" " ~ entity ~ "'|trans }}&nbsp;" }}{{ '\n' }}&nbsp;
            </a>{{ '\n' }}
            <a href="#" data-toggle='modal' data-target='#filters'>
            &nbsp;&nbsp;
        {% endif %}
            {{ '{{ knp_pagination_render(pager) }}' }}{{ '\n' }}

    {{"     {% endblock %} "}}
    {% endif %}



    {{" {% endembed %} "}}

    {{ "{% endblock " ~ block_content ~ " -%}" }}
{% endblock body %}
