    <a class="{{ clase }}"
       href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}">{{ '\n' }}
        &nbsp;
        <i class="{{ icono }}"></i>
        {{ "{{'"~  etiqueta  ~" " ~ entity ~ "'|trans }}&nbsp;" }}{{ '\n' }}&nbsp;
    </a>&nbsp;&nbsp;{{ '\n' }}