<button type="button"  value="delete"
        class="form-submit-delete {{ entity_singularized  }}_borrar {{ clase }} " title="{{ etiqueta }}" name="{{ entity_singularized  }}_boorar" >
    <i class="{{ icono }}"></i>&nbsp;{{ etiqueta }}
</button>&nbsp;&nbsp;

